---
import Button from '../Button/Button.astro';

import './songInfo.css';

const { song } = Astro.props;
const albumCoverUrl = song.album.images[0].url || '';
---

<div data-uri={song.uri} class="song-container">

    <div class="lp">
        <Button
            buttonClassName="play-button"
            background={{backgroundUrl: albumCoverUrl, backgroundTitle: 'Album cover'}}
            text="Play"
            hideText
            icon="PlayPixel"
            activeIcon="PausePixel"
        />

        <div class="vinyl-record-container">
            <div class="vinyl-record"><img src={albumCoverUrl} /></div>
        </div>
    </div>

    <div class="song-description">
        <span class="song-name">{song.name}</span>
        <div class="artists">
            {
                song.artists.map((artist, index) => {
                    let artistName = artist.name;

                    if (index !== song.artists.length - 1) {
                        artistName += ', ';
                    }

                    return (
                            <span class="artist-name">{artistName}</span>
                    );
                })
            }
        </div>
        <div class="buttons">
            <Button buttonClassName="song-save-button" text="Save" />
            <Button buttonClassName="song-unsave-button" secondary text="Unsave" />
        </div>
    </div>
</div>

<script is:inline define:vars={{ song }}>
    let savedSongs;
    try {
        savedSongs = JSON.parse(localStorage.getItem('savedSongs'));
    } catch {
        savedSongs = [];
        localStorage.removeItem('savedSongs');
    }

    const saveButton = document.querySelector('.song-save-button');
    const unsaveButton = document.querySelector('.song-unsave-button');

    console.log(unsaveButton, saveButton);
    if (savedSongs.includes(song.id)) {
        saveButton.closest('.btn-wrapper').classList.add('invisible');
        unsaveButton.closest('.btn-wrapper').classList.remove('invisible');
    } else {
        unsaveButton.closest('.btn-wrapper').classList.add('invisible');
        saveButton.closest('.btn-wrapper').classList.remove('invisible');
    }

    saveButton.addEventListener('click', () => {
        localStorage.setItem('savedSongs', JSON.stringify([...savedSongs, song.id]));
        saveButton.closest('.btn-wrapper').classList.add('invisible');
        unsaveButton.closest('.btn-wrapper').classList.remove('invisible');
    });

    unsaveButton.addEventListener('click', () => {
        const newSavedSongs = savedSongs.filter(songId => songId != song.id)
        localStorage.setItem('savedSongs', JSON.stringify(newSavedSongs));
        unsaveButton.closest('.btn-wrapper').classList.add('invisible');
        saveButton.closest('.btn-wrapper').classList.remove('invisible');
    });
</script>