---
import { fetchUserPlaylists } from "../../api";
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button/Button.astro";

import './playlists.css';

const userToken = Astro.cookies.get('spotify_token')?.value;
const playLists = await fetchUserPlaylists(userToken);
---


<MainLayout title="Pick one of your playlists">
    <div class="page">
        {
            playLists && playLists.map(playList => {
               return (
                   <div class="playlist-container">
                       <img
                               alt={playList.name}
                               src={playList.images && playList.images.length > 0
                                   ? playList.images[0].url
                                   : '/images/audio.svg'}
                       />
                       {playList.name}
                       {playList.description}
                       <Button buttonClassName="use-playlist-button" text="Use playlist"></Button>
                   </div>
               )
            })
        }
    </div>
</MainLayout>