---
import { fetchUserPlaylists } from "../../api";
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button/Button.astro";

import './playlists.css';

if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const playlistId = formData.get('playlistId');
    Astro.cookies.set('spotify_playlist', playlistId, { path: '/' });
    return Astro.redirect('/');
}


const userToken = Astro.cookies.get('spotify_token')?.value;
const playLists = await fetchUserPlaylists(userToken);
---


<MainLayout title="Pick one of your playlists">
    <div class="page">
        <div class="playlists-container">
        {
            playLists && playLists.map(playList => {
               return (
                   <div class="playlist-container">
                       <img
                               alt={playList.name}
                               src={playList.images && playList.images.length > 0
                                   ? playList.images[0].url
                                   : '/images/audio.svg'}
                       />
                       <span class="name">{playList.name}</span>
                       <span class="description">{playList.description}</span>
                       <form method="POST" action="/playlists">
                           <input type="hidden" name="playlistId" value={playList.id} />
                           <Button type="submit" buttonClassName="use-playlist-button" text="Use playlist" />
                       </form>
                   </div>
               )
            })
        }
        </div>
    </div>
</MainLayout>