.playlist-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
    " img title "
    " desc desc "
    " btn btn ";
    gap: .5rem;

    img {
        grid-area: img;
        width: 3rem;
        aspect-ratio: 1/1;
        align-self: start;
    }

    span {
        font-size: large;
    }

    .name {
        grid-area: title;
        font-weight: bold;
        align-self: end;
    }

    .description {
        align-self: start;
        grid-area: desc;
    }

    .btn-wrapper {
        grid-area: btn;
    }
}

.playlists-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
}