.playlist-container {
    display: grid;
    align-items: stretch;
    justify-content: center;
    grid-template-areas:
    " img title "
    " desc desc "
    " btn btn ";
    gap: .5rem;

    img {
        grid-area: img;
        width: 3rem;
        aspect-ratio: 1/1;
        align-self: start;
    }

    span {
        font-size: large;
    }

    .name {
        grid-area: title;
        font-weight: bold;
        align-self: end;
    }

    .description {
        align-self: start;
        grid-area: desc;
    }

    .btn-wrapper {
        grid-area: btn;
    }
}

.playlists-container {
    width: 100%;
    display: grid;
    gap: 3rem;
    align-items: stretch;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
}