.playlists-container {
    width: 100%;
    display: grid;
    gap: 3rem;
    align-items: stretch;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.playlist-container {
    display: grid;
    width: 100%;
    grid-template-areas:
        "img title"
        "desc desc"
        "btn btn";
    grid-template-rows: auto 1fr auto; /* ← dit is de truc */
    gap: .5rem;
    border: 2px solid var(--color-dark);
    border-radius: .25em;

    img {
        grid-area: img;
        width: 3rem;
        aspect-ratio: 1/1;
        align-self: start;
    }

    span {
        font-size: large;
    }

    .name {
        grid-area: title;
        font-weight: bold;
        align-self: center;
        font-size: x-large;
    }

    .description {
        align-self: start;
        grid-area: desc;
    }

    .btn-wrapper {
        margin-top: auto;
        grid-area: btn;
    }
}