---
import './playListPreview.css';
---

<div id="playlist-iframe-wrapper">
    <div id="embed-iframe-playlist"></div>
    <span class="placeholder">PlayList</span>
</div>


<script is:inline>
    let playListController = null;

    window.addEventListener('playlist-controller-ready', (e) => {
        playListController = e.detail.controller;
    });
</script>