.song-list {
    counter-reset: song-counter;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));

    li {
        display: flex;
        padding-inline: 1rem;
        gap: 1rem;
        align-items: center;
        border: 2px solid black;
        counter-increment: song-counter;

        &.is-active {
            &::before {
                color: var(--color-pink);
                animation-play-state: running;
            }
        }
    }

    li::before {
        text-align: center;
        content: counter(song-counter)".";
        text-decoration: underline;
        min-width: 4rem;
        max-width: 4rem;

        font-family: 'Furnitur', sans-serif;
        font-size: clamp(2rem, 5vw, 4rem);
        font-variation-settings: 'VRTC' 61;
        animation: --animateNumber 1s alternate linear infinite paused;
    }
}

@keyframes --animateNumber {
    0% {
        transform: translateY(5px);
        font-variation-settings: 'VRTC' 50, 'HRZN' 10;
    }
    100% {
        transform: none;
        font-variation-settings: 'VRTC' 90, 'HRZN' 50;
    }
}