---
import Song from '../Song/Song.astro';
import SongPreview from '../SongPreview/SongPreview.astro';

import './songList.css';

const { songs } = Astro.props;
---
<h2 class="medium-heading">Suggestions</h2>
<ul class="song-list" data-active-song="">
    {
        songs.map((song) => {
            return (
                <li class="song-item">
                    <Song song={song} key={song.id}/>
                </li>
            )
        })
    }
</ul>




