.song-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    list-style-type: none;
    padding: 0;

    li {
        display: flex;
        padding-inline: 1rem;
        gap: 1rem;
        align-items: center;
        border: 2px solid black;
    }

    .song {
        display: flex;
        align-items: center;

        gap: 1rem;
    }

    .album-cover {
        width: 4rem;
        aspect-ratio: 1;
    }

    .song-item {
        display: flex;
        justify-content: space-between;
    }

    .link-wrapper {
        --link-color: #044504;
        --link-height: 2rem;
        display: flex;

        &::before,
        &::after {
            content: '';
            display: block;
            aspect-ratio: 1/2;
            height: var(--link-height);
            background-color: var(--link-color);
            mask-image: url(../../assets/svgs/circle-pixel.svg);
            mask-size: 100% 100%;
        }

        &::after {
            transform: scaleX(-1);
        }

        a {
            height: var(--link-height);
            padding-block: .5em;
            color: white;
            background-color: var(--link-color);
            text-decoration: none;
        }
    }
}


