---
import Song from '../Song/Song.astro';
import SongPreview from '../SongPreview/SongPreview.astro';

import './songList.css';

const { songs } = Astro.props;
---

<ul class="song-list" data-active-song="">
    {
        songs.map((song) => {
            return (
                <li class="song-item">
                    <Song song={song} key={song.id}/>
                </li>
            )
        })
    }
</ul>


<script is:inline>
    let embedController = null;

    window.addEventListener('song-controller-ready', (e) => {
        console.log('controller', e.detail.controller);
        embedController = e.detail.controller;
    });

    const playButtons = document.querySelectorAll('.play-button');
    if (playButtons) {
        const songItems = []
        playButtons.forEach((button, index) => {
            const songItem = button.closest('.song-item');
            songItems.push(songItem);
            button.addEventListener('click', async (event) => {
                if (button.closest('.song-item').classList.contains('is-active')) {
                    pauseActiveSong(event);
                    return;
                }
                await setActiveSong(event, index, songItems);
            });
        })
    }

    // iframe switcht van liedje met behulp van AI
    // https://claude.ai/share/8eedb4a4-9670-44f5-a079-bd85e8e2c486

    function pauseActiveSong(event) {
        if (embedController) {
            embedController.pause();
        }

        const currentButton = event.currentTarget;
        const currentSongItem = currentButton.closest('.song-item');
        const currentButtonWrapper = currentButton.closest('.btn-wrapper');
        const currentVinyl = currentSongItem.querySelector('.vinyl-record');

        currentButtonWrapper.classList.toggle('is-active');
        currentSongItem.classList.toggle('is-active');
        currentVinyl.classList.toggle('is-active');
    }

    async function setActiveSong(event, currentIndex,songItems) {
        const currentButton = event.currentTarget;
        const currentSongItem = currentButton.closest('.song-item');
        const currentButtonWrapper = currentButton.closest('.btn-wrapper');
        const currentVinyl = currentSongItem.querySelector('.vinyl-record');
        const iframeContainer = document.getElementById('song-iframe-wrapper');

        // Haal de URI op van het aangeklikte liedje
        const uri = currentSongItem.querySelector('.song-container').getAttribute('data-uri');
        currentUri = uri;

        songItems.forEach((songItem, index) => {
            if ((index === currentIndex) || !songItem.classList.contains('is-active') ) {
                return;
            }

            setSongInactive(songItem);
        });

        if (embedController) {
            // Controller bestaat al → wissel gewoon van liedje
            embedController.loadUri(uri);
            iframeContainer.classList.add('active-song');
            embedController.play();
        }

        currentButtonWrapper.classList.toggle('is-active');
        currentSongItem.classList.toggle('is-active');
        currentVinyl.classList.toggle('is-active');
    }

    function setSongInactive(songItem) {
        const songItemPlayButton = songItem.querySelector('.play-button');
        const playButtonWrapper = songItemPlayButton.closest('.btn-wrapper');
        const vinyl = songItem.querySelector('.vinyl-record');
        playButtonWrapper.classList.remove('is-active');
        songItem.classList.remove('is-active');
        vinyl.classList.remove('is-active');
    }

</script>


