---
import {
	fetchSpotifyArtistsByGenre,
	fetchSpotifyTrackByArtist,
	fetchSuggestedGamesBySearch
} from '../api/index.js';
import SongList from '../components/SongList/SongList.astro';
import SongPreview from '../components/SongPreview/SongPreview.astro';
import PlayList from '../components/Playlist/Playlist.astro';

import '../style/index.css';

// const artistSearch = await fetchSpotifyArtistsByGenre('pop', 20, 10);
// const artists = artistSearch.artists.items;
//
// const songs = await Promise.all(artists.map(async (artist) => {
// 	return await fetchSpotifyTrackByArtist(artist.name);
// }));
//
// console.log(songs);

import songs from '../data/dummySongs.json';
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body>

		<SongList songs={songs} />

		<PlayList songs={songs} />

		<SongPreview />
	</body>
</html>
