---
import { createPlaylist } from "../api";
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/Button/Button.astro';
import Link from "../components/Link/Link.astro";
import PlayListPreview from '../components/PlayListPreview/PlayListPreview.astro';

import { genres } from '../data/spotifyGenres.json';

import '../style/index.css';

let playList = undefined;
const userToken = Astro.cookies.get('spotify_token')?.value;

if (Astro.url.searchParams.get('name') && userToken) {
	const name = Astro.url.searchParams.get('name');
	const description = Astro.url.searchParams.get('description');
	const isPublic = Astro.url.searchParams.get('public') === 'on';

	//playList = {id: '0rCufIQ5xh2V7HkO5lpZVS?si=64c62882c24f49cb'};
	playList = await createPlaylist(userToken, name, description, isPublic);
	Astro.cookies.set('current_playlist_id', playList.id);
} else if (!userToken) {
	Astro.cookies.delete('current_playlist_id');
}

---


<MainLayout title="Find your songs!">
	<div class="page">
	{
		!userToken ? (
			<div class="log-in">
				<h3>Log in met spotify om de songerator te gebruiken</h3>
				<Link url="/auth/spotifyLogin" isButtonLike > Log in </Link>
			</div>
		) : (
			<!--<> {-->
			<!--	!playList?.id && (-->

			<!--	)-->
			<!--}-->

			<!--</>-->

			<form method="GET" action="/genre">
				<label for="genre-select"> Select a genre </label>
				<select id="genre-select" name="genre">
					{
						genres.map(genre => {
							return (
								<option value={genre}>
									{genre}
								</option>
							)
						})
					}
				</select>
				<Button buttonClassName="generate-button" text="Generate Songs" />
			</form>

			<PlayListPreview />
		)
	}
	</div>

</MainLayout>

<script define:vars={{ playList }}>
	// @ts-nocheck



</script>