---
import { fetchSpotifySongsByGenre, fetchSuggestedGamesBySearch } from '../api/index.js';

const songs = await fetchSpotifySongsByGenre('hiphop');

// const url = "https://api.spotify.com/v1/albums/4aawyAB9vmqN3uQ7FjRGTy"
// const response = await fetch(url)
//
// const todos = await response.json()
// console.log(todos)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>


	<input type="text" />
	</body>
</html>
