---
import { fetchUserPlaylists } from "../api";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button/Button.astro";

const userToken = Astro.cookies.get('spotify_token')?.value;
const playLists = await fetchUserPlaylists(userToken);
---


<MainLayout title="Find your songs!">
    <div class="page">
        {
            playLists && playLists.map(playList => {
               return (
                   <div class="playlist-container">
                       <img alt=" " src={playList.images[0].url || 'public/images/audio.svg'} />
                       {playList.name}
                       {playList.description}
                       <Button text="Use playlist"></Button>
                   </div>
               )
            })
        }
    </div>
</MainLayout>