---
import Button from '../Button/Button.astro';

import './song.css';

const { song, isInsidePlaylist } = Astro.props;
const albumCoverUrl = song.album.images[0].url || '';

---

<div data-uri={song.uri} class="song-container">

    <div class="song-description">
        <span class="song-name">{song.name}</span>
        <div class="artists">
            {
                song.artists.map((artist, index) => {
                    let artistName = artist.name;

                    if (index !== song.artists.length - 1) {
                        artistName += ', ';
                    }

                    return (
                            <span class="artist-name">{artistName}</span>
                    );
                })
            }
        </div>
    </div>

    <Button
        buttonClassName="play-button"
        background={{backgroundUrl: albumCoverUrl, backgroundTitle: 'Album cover'}}
        text="Play"
        hideText
        icon="PlayPixel"
        activeIcon="PausePixel"
    />

    <div class="vinyl-record-container">
        <div class="vinyl-record"><img src={albumCoverUrl} /></div>
    </div>

    <div class="buttons">
        {   isInsidePlaylist
            ? <Button text="Remove" />
            : <Button text="Add" />
        }
    </div>

</div>