.song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.lp {
    display: flex;
    align-items: center;
    overflow: hidden;

    .vinyl-record-container {
        transform: translateX(-40%);
        transition: linear 1s;
    }

    .btn-wrapper {
        transform: translateX(40%);
        transition: linear 1s;
        z-index: 10;
    }

    &:has(.is-active) {
        * {
            transform: translateX(0);
        }

        .vinyl-record {
            animation-play-state: running;
        }
    }
}

.album-cover {
    width: 6rem;
    aspect-ratio: 1;
}

.song-description {
    display: flex;
    gap: .25rem;
    flex-direction: column;

    min-width: 10rem;
    max-width: 10rem;
}

.song-name {
    font-weight: 700;
}

.buttons {
    flex-grow: 4;
    display: flex;
    flex-direction: row-reverse;
}

.artists {
    font-size: .9em;
}


.vinyl-record {
    display: flex;
    --size: 50vh;
    height: var(--size);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    animation: --rotate linear 5s infinite paused;

    background-image: radial-gradient(
        var(--color-background) 0 7.5%,
        transparent 0 19%,
        #000 21%,
        transparent 0 35%,
        #000 36%,
        transparent 0 40%,
        #000 41%,
        transparent 0 51%,
        #000 52%,
        transparent 0 60%
    ), linear-gradient(-45deg,
        transparent 40%,
        grey 50%,
        transparent 60% 100%
    ), radial-gradient(
        transparent 7.5%,
        #000000 0 60%,
        transparent 0 100%
    );

    mask-image: radial-gradient(
            red 0 60%,
            transparent 0 100%
    );

    img {
        width: 30%;
        aspect-ratio: 1;
        mask-image: radial-gradient(transparent 0 15%, red 0 60%, transparent 0 100%);
    }
}

@keyframes --rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}