---
import Button from '../Button/Button.astro';

import './song.css';

const { song, isInsidePlaylist } = Astro.props;
const albumCoverUrl = song.album.images[0].url || '';
console.log(song);
---

<div data-uri={song.uri} class="song-container">

    <Button
        buttonClassName="play-button"
        background={{backgroundUrl: albumCoverUrl, backgroundTitle: 'Album cover'}}
        text="Play"
        hideText
        icon="PlayPixel"
        activeIcon="PausePixel"
    />

    <div class="vinyl-record"></div>

    <div class="song-description">
        <span class="song-name">{song.name}</span>
        <div class="artists">
            {
                song.artists.map(artist => {
                    return (
                    <span class="artist-name">{`${artist.name}, `}</span>
                    );
                })
            }
        </div>
    </div>


    {   isInsidePlaylist
            ? <Button text="Remove" />
            : <Button text="Add" />
    }
</div>
