---
import Button from '../Button/Button.astro';

import './song.css';

const { song, isInsidePlaylist } = Astro.props;
const albumCoverUrl = song.album.images[0].url || '';
---

<div data-uri={song.uri} class="song-container">

    <Button
        buttonClassName="play-button"
        background={{backgroundUrl: albumCoverUrl, backgroundTitle: 'Album cover'}}
        text="Play"
        hideText
        icon="PlayPixel"
        activeIcon="PausePixel"
    />

    <span>{song.name}</span>

    {   isInsidePlaylist
            ? <Button text="Remove" />
            : <Button text="Add" />
    }
</div>
