---
import Button from '../Button/Button.astro'

import './song.css';

const { song, isInsidePlaylist } = Astro.props;
const albumCoverUrl = song.album.images[0].url;
---

<div class="song-container">
    <img class="album-cover" src={albumCoverUrl} alt="album cover">
    <span>{song.name}</span>
    <Button backgroundUrl={albumCoverUrl} text="Play" hideText icon="PlayPixel"/>

    {
        isInsidePlaylist
            ? <Button text="Remove" />
            : <Button text="Add" />
    }

</div>