---
import './header.css';
import Button from '../Button/Button.astro';
---

<header>
    <a class="logo" href="/"><span>S</span><span>o</span><span>n</span><span>g</span><span>e</span><span>r</span><span>a</span><span>t</span><span>o</span><span>r</span></a>
    <nav class="navigation">
        <ul>
            <li>
                <form method="POST" action="/add-saved">
                    <input type="hidden" id="song-ids" name="ids" value="">
                    <Button isSecondary type="submit" class="add-saved-btn" text="Add saved to playlist"/>
                </form>
            </li>
        </ul>
    </nav>
</header>

<script is:inline>
    document.querySelector('.add-saved-btn').addEventListener('click', (e) => {
        const savedSongs = JSON.parse(localStorage.getItem('savedSongs') ?? '[]');
        document.getElementById('song-ids').value = savedSongs.join(',');
    });
</script>