---
import './header.css';
import { fetchSongs } from '../../api/spotifyApi.js';
const currentPath = Astro.url.pathname;

//const songs = await fetchSongs();
---

<header>
    <a class="logo" href="/"><span>S</span><span>o</span><span>n</span><span>g</span><span>e</span><span>r</span><span>a</span><span>t</span><span>o</span><span>r</span></a>
    <nav class="navigation">
        <ul>
            <li>
                <a href="/" class={currentPath === '/' ? 'active' : ''}>Home</a>
                <!--{-->
                <!--    songs.map(song => {-->
                <!--       return (-->
                <!--           <a href=`/song/${song.id}` class={currentPath === `/song/${song.id}` ? 'active' : ''}>{song.name}</a>-->
                <!--       )-->
                <!--    })-->
                <!--}-->
            </li>
        </ul>
    </nav>
</header>