---
import './header.css';
const currentPath = Astro.url.pathname;
---

<header>
    <a class="logo" href="/"><span>S</span><span>o</span><span>n</span><span>g</span><span>e</span><span>r</span><span>a</span><span>t</span><span>o</span><span>r</span></a>
    <nav class="navigation">
        <ul>
            <li>
                <a href="/" class={currentPath === '/' ? 'active' : ''}>Home</a>
            </li>
        </ul>
    </nav>
</header>