@import 'typography.css';

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-dark: #101c45;
    --color-pink: #e64ccf;
    --color-light: #fbc5f6;
    --font-primary: 'Roboto', sans-serif;

    /* spacing */
    --padding-inline: clamp(1rem, 2.5vw, 2rem);
    --padding-block: clamp(2rem, 5vw, 4rem);
    --gap: clamp(1rem, 2.5vw, 2rem);


    --color-text: var(--color-dark);
    --color-button-text: var(--color-white);
    --color-background: var(--color-light);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 2rem;
    background-color: var(--color-background);

    p, h1, span, li {
        color: var(--color-text);
    }

    h1 {
        text-align: end;
    }
}
