@import 'typography.css';

@view-transition {
    navigation: auto;
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-dark: #101c45;
    --color-red: #ea1c38;
    --color-light: #dd8f04;
    --font-primary: 'Roboto', sans-serif;

    /* spacing */
    --padding-inline: clamp(1rem, 2.5vw, 2rem);
    --padding-block: clamp(2rem, 5vw, 4rem);
    --gap: clamp(1rem, 2.5vw, 2rem);


    --color-text: var(--color-dark);
    --color-button-text: var(--color-white);
    --color-background: var(--color-light);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin-inline: 10%;
    background-color: var(--color-background);
    padding-block-end: 10rem;
    p, h1, span, li {
        color: var(--color-text);
    }

    h1 {
        text-align: end;
        transition: transform 1s ease;
         span {
             animation: --float 5s linear infinite alternate;
         }

        &.empty-player {
            transform: translateY(3em) translateX(-.5em);

            span {
                animation: none;
            }
        }
    }
}

@keyframes --float {
    0% {
        transform: translateY(10px) translateX(5px);
    }
    100% {
        transform: none;
    }
}
