#song-iframe-wrapper {
    iframe {
        display: none;
    }

    .placeholder {
        width: 100%;
        height: 5em;
        border-bottom: var(--color-dark) 10px solid;
        border-radius: 2px;
    }

    &.active-song {
        .placeholder {
            display: none;
        }

        iframe {
            display: block;
        }
    }
}