#song-iframe-wrapper {
    iframe {
        display: none;
    }

    &.active-song {
        .placeholder {
            display: none;
        }

        iframe {
            display: block;
        }
    }
}