---
import Header from '../components/Header/Header.astro';
import './mainLayout.css';

const { title } = Astro.props;

---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/global.css" >
    <title>Songerator</title>
</head>
<body>
<Header />

<h1 class="large-heading">{ title.split("").map(letter => {
    // spatie code van claude
    return (
        <span>{ letter === " " ? "\u00A0" : letter }</span>
    )
}) }</h1>
<main>
    <slot />
</main>
</body>
</html>