---
import './link.css'
const {
    url,
    isButtonLike
} = Astro.props;
---
<div class="link-wrapper">
    <a href={url} class={`link ${isButtonLike ? 'button' : ''}`}>
        <slot/>
    </a>
</div>