---
import './link.css'
const {
    url,
    isButtonLike,
    linkId,
    className = ''
} = Astro.props;
---
<div class="link-wrapper">
    <a id={linkId} href={url} class={`link ${className} ${isButtonLike ? 'button' : ''}`}>
        <slot/>
    </a>
</div>